<%= flash[:notice] %>
<div class="container">
  <div class="offset-md-5"></div>
    <div class="row-md-2">
      <h1>welcome to <i class="fa-solid fa-book"></i><storong>Bookers</storong>!!</h1>
      <p>In<i class="fa-solid fa-book"></i><strong>Bookers</strong></p>
      <p>you can share and exchange your opinions, inpressions,</p>
      <p>and emotions</p>
      <p>about various books!</p>
      <p style="text-align: center"><%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-block" %></p>
      <p style="text-align: center"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-block" %></p>
    </div>
    <div class="offset-md-5"></div>
  </div>
</div>